:root {
  --bg: #ffffff;
  --text: #111111;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.cards {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

footer {
  margin-top: auto;
  padding: 6px 0;
  text-align: center;
  border-top: 1px solid rgba(0,0,0,0.2);
}

footer p {
  margin: 5px 0;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #111;
  color: white;
}

body {
  font-family: Arial, sans-serif;
}

.cards {
  margin-top: 40px;
  align-items: center;
}

/* LOGO */
.logo {
  font-size: 1.5em;
  font-weight: bold;
}

/* CARDS */
.cards {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center; /* center cards */
  margin-top: 40px;
}

.cards .red {
  background-color: #f43f5e;
}

.cards .blue {
  background-color: #3b82f6;
}

.cards .green {
  background-color: #22c55e;
}

.cards .yellow {
  background-color: #eab308;
}

.cards .purple {
  background-color: #a855f7;
}

.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100px;
  width: 250px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
}

.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}

.cards .card p.second-text {
  font-size: .7em;
}

.cards .card:hover {
  transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}
